<h1>Detalle del Producto</h1>
<table>
    <tr><th>Id:</th><td>{{product._id}}</td></tr>
    <tr><th>Título:</th><td>{{product.title}}</td></tr>
    <tr><th>Descripción:</th><td>{{product.description}}</td></tr>
    <tr><th>Código:</th><td>{{product.code}}</td></tr>
    <tr><th>Precio:</th><td>${{product.price}}</td></tr>
    <tr><th>Stock:</th><td>{{product.stock}}</td></tr>
    <tr><th>Categoría:</th><td>{{product.category}}</td></tr>
    <tr><th>Imágen:</th><td>{{product.thumbnail}}</td></tr>
</table>